@use '../util/' as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint-down(small) {
    gap: 0;
  }
}

.card {
  background-color: var(--card-bg);
  border-radius: rem(5);
  color: var(--text-color2);
  margin-bottom: rem(20);
  padding: rem(25);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    transition: 0.5s;
    background: var(--card-hover);
  }

  &--facebook {
    border-top: rem(5) solid var(--facebook);
  }

  &--twitter {
    border-top: rem(5) solid var(--twitter);
  }

  &--instagram {
    padding-top: rem(30);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: rem(5);
      background: linear-gradient(
        225deg,
        var(--instagram-start),
        var(--instagram-middle) 50.91%,
        var(--instagram-end) 100%
      );
    }
  }

  &--youtube {
    border-top: rem(5) solid var(--youtube);
  }

  &__top-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(0.25);
  }

  &__platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(20);
    margin-bottom: rem(28);
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    margin-bottom: rem(30);
  }

  &__icon {
    margin-right: rem(8);
  }

  &__username {
    font-size: rem(12);
    font-weight: 700;
  }

  &__followers {
    margin-bottom: rem(25);
  }

  &__count {
    color: var(--text-color);
    letter-spacing: rem(-2);
    line-height: 1;
    margin-bottom: rem(4);

    &--big {
      font-size: rem(56);
      font-weight: 700;
    }

    &--small {
      font-size: rem(32);
      font-weight: 700;
    }
  }

  &__label {
    color: var(--text-color2);
    letter-spacing: rem(5);
    font-size: rem(12);
    font-weight: 400;
    text-transform: uppercase;
  }

  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(12);
    font-weight: 700;

    img {
      margin-right: rem(4);
    }

    &--up {
      color: var(--limegreen);
    }

    &--down {
      color: var(--brightred);
    }
  }
}
