@use '../util' as *;

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(36);

  @include breakpoint(medium) {
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(small) {
      margin-bottom: rem(20);
    }
  }

  &__subtitle {
    color: var(--dark-text);
    font-size: rem(14);
    font-weight: 700;
  }
}
