@use '../util' as *;

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(36);

  @include breakpoint(medium) {
    justify-content: space-between;
    align-items: center;
  }

  &__background {
    background: var(--top-bg);
    height: rem(244);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  &__title {
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(small) {
      margin-bottom: rem(20);
    }
  }

  &__subtitle {
    color: var(--text-color2);
    font-size: rem(14);
    font-weight: 700;
  }
}
