@use '../util/' as *;

.toggle {
  border: none;

  input[type='radio'] {
  }

  label {
  }

  &__wrapper {
  }

  &__background {
  }

  &__button {
    background-color: var(--toggle);
    width: rem(16);
    height: rem(16);
    border-radius: 50%;
  }
}
